/* body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{color: #fff;
}
p{color: rgb(151, 3, 102);
text-align: center

    ;}
    #Divbox{
        width: 250px;
        height: 250px;
    } */
#{
 margin: 0;
padding: 0;
}


body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(91, 145, 89);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 00;
    font-style: normal;

}

h2 {
    text-transform: uppercase;
    font-size: 50px;
}

.logo {
    width: 208px;
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

header {
    background-color: rgb(17, 68, 25);
    height: 145px;
    margin: 0px;
    padding: 10px 0;
}


img {
    display: block;
}

nav ul li {
    color: #000000;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    float: left;
    padding-right: 25px;
    margin-top: 65px;
    text-align: center;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgb(160, 243, 149);
    height: 15px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.menu {
    position: relative;
    float: left;
    justify-content: center;
    text-align: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    width: 60%;
    margin: 0
}

.product {
    background-color: #fff;
    width: 580px;
    margin: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 60%;
    margin: 0
}

.centro {
    text-align: center;
}

.centro img {
    margin: 0 auto;
}
.menu li {
    flex: 1; /* Faz com que os itens do menu ocupem espaço igual */
}

.menu a {
    display: block;
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    text-align: center;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(17, 68, 25);
    height: 100px;
    padding: 20px;

}